page-resources {
    .image {
        width: 100%;
        height: auto;
    }
    .resource-card {
        border-radius: 10px;
    }
    .resource-content {
        display: flex;
        justify-content: space-between;
    }

    .linkIcons {
        font-weight: bold; 
        font-size: 40px; 
        position: relative; 
        top: 10px; 
        padding-left: 5px
    }
    #header-title {
        font-size: 4rem;
        font-weight: bold;
        text-align: center;   
    }

    #title {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;   
    }

    #score-box {
        margin: auto;
        width: 50px;
        height: 30px;
        font-size: 20px;
        border-radius: 10%;

    }

    .resource-text {
        height: 100%;
        width: 100%; 
        display: flex;
        align-self: center;
        flex-direction: column;
    }

    #resMessage {
        font-size: 2rem;
        margin-left: 4vw;
        padding-left: 1vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
        align-self: center;
        width: 75%; 
    }

    .img-left {
        width: 75%;
        object-fit: cover;
        transform: scale(1.2);
        z-index: 1;
    }

    .learn-more {
        align-self: flex-end;
    }

    .red {
        color: red;
    }

    .yellow {
        color: yellow;
    }

    #resource {
        margin-left: 20px;
        font-size: 100px;
    }

    button {
        background-color : rgb(46, 66, 86);
    }
}
