timeline {

  .segment-md .segment-button {
    min-height: 40px;
    height: auto;
    min-width: 90px;
    line-height: 1.5rem !important;
    white-space: normal;
    margin: 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    max-height: 100px;
    min-height: 75px;
    height: 5vh;
    display: flex;
    justify-content: center;
  }
  
}