<ion-content>
  <section>

    <ion-scroll scrollX="true" style=" white-space:nowrap; height: 100%; width: 100%; max-width: 700px">
      <ion-row padding-top nowrap style="width: auto;">

        <ion-segment [(ngModel)]="subject" style="width: inherit ">
          <ion-segment-button value="0">
            Getting Out
          </ion-segment-button>

          <ion-segment-button value="1">
            Starting Up
          </ion-segment-button>

          <ion-segment-button value="2">
            Self Care
          </ion-segment-button>

          <ion-segment-button value="3">
            Reinventing Myself
          </ion-segment-button>

          <ion-segment-button value="4">
            Settling Down
          </ion-segment-button>
        </ion-segment>

      </ion-row>
    </ion-scroll>
  </section>

  <div *ngFor="let item of testList; let i = index" [ngSwitch]="subject">

    <ion-list *ngSwitchCase="i">
      <ion-list-header *ngFor="let child of item.childrenSection; let j = index" no-lines no-padding>
        <button ion-item (click)="toggleSection(i, j)" detail-none>
          <ion-icon item-left name="arrow-forward" *ngIf="!child.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="child.open"></ion-icon>
          {{child.title}}
        </button>

        <ion-list *ngIf="child.grandchildrenItems && child.open">
          <ion-list-header *ngFor="let grandchild of child.grandchildrenItems" no-lines no-padding>
            <button ion-item detail-none>
              {{grandchild.name}}
            </button>
          </ion-list-header>
        </ion-list>
      </ion-list-header>
    </ion-list>
  </div>

</ion-content>