<ion-content>

  <section>

    <ion-scroll scrollX="true" style=" white-space:nowrap; height: 100%; width: 100%; max-width: 700px">
      <ion-row padding-top nowrap style="width: auto">
        <ion-segment *ngFor="let data of timelineData; let i = index" [(ngModel)]="subject">
          <ion-segment-button value={{i}}>{{data.title}}</ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-scroll>

  </section>

  <div *ngFor="let data of timelineData; let i = index" [ngSwitch]="subject">

    <ion-list *ngSwitchCase=i>
      <ion-item>
        <timeline-child-sublist [segmentValue]="i"></timeline-child-sublist>
      </ion-item>
    </ion-list>

  </div>

</ion-content>