<ion-content>

  <section>

    <ion-scroll scrollX="true" style=" white-space:nowrap; height: 100%; width: 100%; max-width: 700px">
      <ion-row padding-top nowrap style="width: auto">
        <ion-segment *ngFor="let data of timelineData; let i = index" [(ngModel)]="subject">
          <ion-segment-button value={{i}}>{{data.title}}</ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-scroll>

  </section>

  <div *ngFor="let data of timelineData; let i = index" [ngSwitch]="subject">

    <ion-list *ngSwitchCase=i>
      <ion-item>
        <timeline-child-sublist [segmentValue]="i"></timeline-child-sublist>
      </ion-item>
    </ion-list>

  </div>

  <!-- <section>
    <ion-scroll scrollX="true" style=" white-space:nowrap; height: 100%; width: 100%; max-width: 700px">
      <ion-row padding-top nowrap style="width: auto;">

        <ion-segment [(ngModel)]="subject" style="width: inherit ">
          <ion-segment-button value="0">
            Getting Out
          </ion-segment-button>

          <ion-segment-button value="1">
            Starting Up
          </ion-segment-button>

          <ion-segment-button value="2">
            Self Care
          </ion-segment-button>

          <ion-segment-button value="3">
            Reinventing Myself
          </ion-segment-button>

          <ion-segment-button value="4">
            Settling Down
          </ion-segment-button>
        </ion-segment>

      </ion-row>
    </ion-scroll>
  </section> -->

  <!-- <div [ngSwitch]="subject">
    <ion-list *ngSwitchCase="0">
      <ion-item>

        <h2>Getting Out</h2>

        <timeline-child-sublist [segmentValue]=subject></timeline-child-sublist>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="1">
      <ion-item>

        <h2>Starting Up</h2>

        <timeline-child-sublist [segmentValue]=subject></timeline-child-sublist>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="2">
      <ion-item>

        <h2>Self Care</h2>

        <timeline-child-sublist [segmentValue]=subject></timeline-child-sublist>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="3">
      <ion-item>

        <h2>Reinventing Myself</h2>

        <timeline-child-sublist [segmentValue]=subject></timeline-child-sublist>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="4">
      <ion-item>

        <h2>Settling Down</h2>
        
        <timeline-child-sublist [segmentValue]=subject></timeline-child-sublist>
      </ion-item>
    </ion-list>
  </div> -->

</ion-content>